.hero {
  padding-block: 1rem 3rem;

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 2.5rem;
    width: min-content;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }

  & h1 span {
    display: block;
    animation: slideUp 6s ease infinite;
  }

  /* buttons */

  & .buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 3rem;

    & .button {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      border-radius: 5rem;

      transition: transform 350ms;

      &.buy {
        padding: 1.5rem 3rem;
        background-color: var(--snitap-sun);
      }

      &.play span {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
      }

      &:hover {
        transform: scale(1.1); /* scale: 1.1; */
      }
    }

    & .shadow {
      box-shadow: 0 2px 5px rgb(0 0 0 / 0.1), 0 9px 9px rgb(0 0 0 / 0.09),
        0 28px 12px rgb(0 0 0 / 0.05), 0 36px 15px rgb(0 0 0 / 0.01);
    }
  }
}

/* ANIMAÇÕES */

@keyframes slideUp {
  /* radical static */
  0%,
  22% {
    transform: translateY(0);
  }

  /* divertida in */
  23% {
    transform: translateY(calc(-2.5rem - 7.5px));
  }

  25% {
    transform: translateY(calc(-2.5rem + 5px));
  }

  27% {
    transform: translateY(calc(-2.5rem - 2.5px));
  }

  29% {
    transform: translateY(calc(-2.5rem + 2.5px));
  }

  /* divertida static */
  33%,
  55% {
    transform: translateY(-2.5rem);
  }

  56% {
    transform: translateY(calc(-5rem - 7.5px));
  }

  58% {
    transform: translateY(calc(-5rem + 5px));
  }

  60% {
    transform: translateY(calc(-5rem - 2.5px));
  }

  62% {
    transform: translateY(calc(-5rem + 2.5px));
  }

  /* saudável stactic */
  66%,
  88% {
    transform: translateY(-5rem);
  }

  89% {
    transform: translateY(calc(-7.5rem - 7.5px));
  }

  91% {
    transform: translateY(calc(-7.5rem + 5px));
  }

  93% {
    transform: translateY(calc(-7.5rem - 2.5px));
  }

  95% {
    transform: translateY(calc(-7.5rem + 2.5px));
  }

  100% {
    transform: translateY(-7.5rem);
  }
}

/* MEDIAS */

@media (width >= 80em) {
  .hero {
    padding-block: 2.5rem;

    & h1 {
      max-width: 40rem;
    }

    & h1 div {
      height: 5rem;
    }

    & .buttons {
      flex-direction: row;
    }
  }

  @keyframes slideUp {
    0%,
    22% {
      transform: translateY(0);
    }

    /* divertida in */
    23% {
      transform: translateY(calc(-5rem - 15px));
    }

    25% {
      transform: translateY(calc(-5rem + 10px));
    }

    27% {
      transform: translateY(calc(-5rem - 5px));
    }

    29% {
      transform: translateY(calc(-5rem + 5px));
    }

    /* divertida static */
    33%,
    55% {
      transform: translateY(-5rem);
    }

    56% {
      transform: translateY(calc(-10rem - 15px));
    }

    58% {
      transform: translateY(calc(-10rem + 10px));
    }

    60% {
      transform: translateY(calc(-10rem - 5px));
    }

    62% {
      transform: translateY(calc(-10rem + 5px));
    }

    66%,
    88% {
      transform: translateY(-10rem);
    }

    89% {
      transform: translateY(calc(-15rem - 15px));
    }

    91% {
      transform: translateY(calc(-15rem + 10px));
    }

    93% {
      transform: translateY(calc(-15rem - 5px));
    }

    95% {
      transform: translateY(calc(-15rem + 5px));
    }

    100% {
      transform: translateY(-15rem);
    }
  }
}
